<h1 class="mb-1 restaurant-show-title">{{{restaurant.name}}}</h1>

<div class="container mb-5">
  <div class="row mx-auto">
    <form action="/restaurants/{{{restaurant.id}}}" method="POST" class="col-10 ">

      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">餐廳名稱</span>
        </div>
        <input type="text" class="form-control" name="name" value="{{{restaurant.name}}}" placeholder="name">
      </div>

      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">餐廳英文</span>
        </div>
        <input type="text" class="form-control" name="name_en" value="{{{restaurant.name_en}}}" placeholder="name_en">

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">類別</span>
        </div>
        <input type="text" class="form-control" name="category" value="{{{restaurant.category}}}"
          placeholder="category">

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">照片</span>
        </div>
        <input type="text" class="form-control" name="image" value="{{{restaurant.image}}}" placeholder="image">

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">地點</span>
        </div>
        <input type="text" class="form-control" name="location" value="{{{restaurant.location}}}"
          placeholder="location">

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">電話</span>
        </div>
        <input type="text" class="form-control" name="phone" value="{{{restaurant.phone}}}" placeholder="phone">

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">地圖</span>
        </div>
        <input type="text" class="form-control" name="google_map" value="{{{restaurant.google_map}}}"
          placeholder="google_map">

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">評分</span>
        </div>
        <input type="text" class="form-control" name="rating" value="{{{restaurant.rating}}}" placeholder="rating">

      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">介紹</span>
        </div>
        {{!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1"> --}}
        <textarea type="text" class="form-control " name="description" placeholder="description">{{{restaurant.description}}}
      </textarea>
      </div>

      <button type="submit">Save</button>
      <a href="/restaurants/{{{restaurant.id}}}">Cancel</a>
    </form>
  </div>
</div>